.navbar{
    background: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    
}

.btn-hire-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
