.name{
    font-size: 4vh;
    font-family: 'Cormorant Garamond", serif;';
}

.designation{
    font-size: 3vh;
    font-family: 'Cormorant Garamond", serif;';
    margin: 5vh;
}

.location{
    font-size: 2vh;
    font-family: 'Cormorant Garamond", serif;';
}