.container {
    background: #22242f;
    height: 30vh;
    margin-top: 50px;
    // -webkit-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    // box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    // display: flex;
    // flex-direction: column;
}

.down {
    margin-top: 0px;
    background-color: white;

}

.all {
    background-color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    
}